@import "tailwindcss";
@import "@nuxt/ui";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&display=swap");

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.05em;
}

.hero h1,
.hero-heading {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  letter-spacing: -0.5px; /* slightly tighter spacing */
  line-height: 1.1; /* balanced height for large text */
  color: #0a0a0a; /* make it really black */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* subtle depth */
}
